<mat-grid-list [cols]="isMobilePortrait ? 1:isMobileLandscape ? 2:2" >
  <mat-grid-tile><iframe width="95%" height="70%" src="https://www.youtube.com/embed/e2WLZBlkzoA">
    </iframe></mat-grid-tile>
  <mat-grid-tile> <iframe width="95%" height="70%" src="https://www.youtube.com/embed/7N7qOF1JnNU">
    </iframe></mat-grid-tile>
  <mat-grid-tile> <iframe width="95%" height="70%" src="https://www.youtube.com/embed/xg-TL1PYIIM">
    </iframe></mat-grid-tile>
  <mat-grid-tile> <iframe width="95%" height="70%" src="https://www.youtube.com/embed/PiGjSX10T1ms">
    </iframe></mat-grid-tile>
  <mat-grid-tile> <iframe width="95%" height="70%" src="https://www.youtube.com/embed/gyZCkbhMkk10">
    </iframe></mat-grid-tile>
  <mat-grid-tile> <iframe width="95%" height="70%" src="https://www.youtube.com/embed/457bxNIhZcI">
    </iframe></mat-grid-tile>
  <mat-grid-tile><iframe width="95%" height="70%" src="https://www.youtube.com/embed/QT510uIjvfjg">
    </iframe></mat-grid-tile>
  <mat-grid-tile> <iframe width="95%" height="70%" src="https://www.youtube.com/embed/g0qYO1gy_MQ">
    </iframe></mat-grid-tile>
  <mat-grid-tile> <iframe width="95%" height="70%" src="https://www.youtube.com/embed/i10beOjIxgIk">
    </iframe></mat-grid-tile>

</mat-grid-list>