<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button routerLink="/art" routerLinkActive="active" mat-menu-item>
      <mat-icon class="art">brush</mat-icon>
      <span>Art Gallery</span>
    </button>
    <button routerLink="/entertainment" routerLinkActive="active" mat-menu-item>
      <mat-icon class="movie">live_tv</mat-icon>
      <span>Movies & TV Shows</span>
    </button>
    <button routerLink="/gaming" routerLinkActive="active" mat-menu-item>
      <mat-icon class="game">games</mat-icon>
      <span>Gaming Zone</span>
    </button>
    <button routerLink="/anime" routerLinkActive="active" mat-menu-item>
      <mat-icon class="anime">face</mat-icon>
      <span>Anime</span>
    </button>
  </mat-menu>

  <a mat-button routerLink="/" routerLinkActive="active"><span class="headertitle">AP Archives</span></a>
  <span class="home-spacer"></span>
  <!-- <a mat-button routerLink="/art" routerLinkActive="active">
    <mat-icon>brush</mat-icon>
  </a> -->
  <a mat-button routerLink="/entertainment" routerLinkActive="active">
    <mat-icon>live_tv</mat-icon>
  </a>
  <!-- <a mat-button routerLink="/gaming" routerLinkActive="active">
    <mat-icon>games</mat-icon>
  </a> -->
  <a mat-button routerLink="/" routerLinkActive="active">
    <mat-icon>home</mat-icon>
  </a>
  <button mat-button>
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>