<mat-toolbar class="mat-elevation-z4">

  <button mat-icon-button matTooltip="Click to get Menu panel" [matTooltipPosition]="'above'"
    [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button routerLink="/" routerLinkActive="active" mat-menu-item>
      <mat-icon class="home">home</mat-icon>
      <span>Home</span>
    </button>
    <button routerLink="/art" routerLinkActive="active" mat-menu-item>
      <mat-icon class="art">brush</mat-icon>
      <span>Art Gallery</span>
    </button>
    <button routerLink="/entertainment" routerLinkActive="active" mat-menu-item>
      <mat-icon class="movie">live_tv</mat-icon>
      <span>Movies & TV Shows</span>
    </button>
    <button routerLink="/gaming" routerLinkActive="active" mat-menu-item>
      <mat-icon class="game">games</mat-icon>
      <span>Gaming Zone</span>
    </button>
    <button routerLink="/anime" routerLinkActive="active" mat-menu-item>
      <mat-icon class="anime">face</mat-icon>
      <span>Anime</span>
    </button>
  </mat-menu>
  <div *ngIf="this.currentUrl=='/'">
    <a mat-button matTooltip="App home page" [matTooltipPosition]="'right'" routerLink='/'
      routerLinkActive="active"><span class="headertitle">AP Archive</span></a>
  </div>
  <div *ngIf="this.currentUrl!='/'">
    <a mat-button matTooltip="Go to app home page" [matTooltipPosition]="'above'" routerLink="/"
      routerLinkActive="active">
      <mat-icon>home</mat-icon>
    </a>&nbsp;&nbsp;&nbsp;
    <a *ngIf="this.currentUrl=='/art'" mat-button matTooltip="Go to art gallery home page"
      [matTooltipPosition]="'right'" routerLink='/art' routerLinkActive="active"><span class="headertitle">Art
        Gallery</span></a>
    <a *ngIf="this.currentUrl=='/entertainment'" mat-button matTooltip="Go to movies home page"
      [matTooltipPosition]="'right'" routerLink='/entertainment' routerLinkActive="active"><span
        class="headertitle">Movies & Shows</span></a>
    <a *ngIf="this.currentUrl=='/anime'" mat-button matTooltip="Go to anime home page" [matTooltipPosition]="'right'"
      routerLink='/anime' routerLinkActive="active"><span class="headertitle">Anime Zone</span></a>
    <a *ngIf="this.currentUrl=='/gaming'" mat-button matTooltip="Go to gaming home page" [matTooltipPosition]="'right'"
      routerLink='/gaming' routerLinkActive="active"><span class="headertitle">Gaming Zone</span></a>
    <a *ngIf="this.currentUrl=='/profile'" mat-button matTooltip="Go to profile home page"
      [matTooltipPosition]="'right'" routerLink='/profile' routerLinkActive="active"><span
        class="headertitle">Profile</span></a>
  </div>
  <span class="home-spacer"></span>

  <!-- <a mat-button matTooltip="Go to app home page" [matTooltipPosition]="'above'" routerLink="/"
    routerLinkActive="active">
    <mat-icon>home</mat-icon>
  </a> -->
  <a mat-button matTooltip="Admin's profile" [matTooltipPosition]="'above'" routerLink="/profile"
    routerLinkActive="active">
    <mat-icon>account_box</mat-icon>
  </a>
</mat-toolbar>