<mat-toolbar class="mat-elevation-z4">
<div class="rippleHover"> 
  <button mat-icon-button matTooltip="Click to get Menu panel" [matTooltipPosition]="'above'"
    [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
</div>
  <mat-menu #menu="matMenu">
    <button routerLink="/" routerLinkActive="active" mat-menu-item>
      <mat-icon class="home">home</mat-icon>
      <span>Home</span>
    </button>
    <button routerLink="/art" routerLinkActive="active" mat-menu-item>
      <mat-icon class="art">brush</mat-icon>
      <span>Art Gallery</span>
    </button>
    <button routerLink="/entertainment" routerLinkActive="active" mat-menu-item>
      <mat-icon class="movie">live_tv</mat-icon>
      <span>Movies & TV Shows</span>
    </button>
    <button routerLink="/gaming" routerLinkActive="active" mat-menu-item>
      <mat-icon class="game">games</mat-icon>
      <span>Gaming Zone</span>
    </button>
    <button routerLink="/anime" routerLinkActive="active" mat-menu-item>
      <mat-icon class="anime">face</mat-icon>
      <span>Anime</span>
    </button>
    <button routerLink="/profile" routerLinkActive="active" mat-menu-item>
      <mat-icon class="profile">account_box</mat-icon>
      <span>Profile</span>
    </button>
  </mat-menu>


  <div class="rippleHover" fxShow="true" fxHide.lt-md="true">
    <a mat-button style="margin:25px;" matTooltip="App home page" [matTooltipPosition]="'right'" routerLink='/'
      routerLinkActive="active"><span class="headertitle">AP Archive</span></a>

  </div>
  <div fxShow="true" fxHide.lt-md="true">
    <div class="rippleHover" *ngIf="this.currentUrl!='/'">

      <a *ngIf="this.currentUrl=='/art'" mat-button style="transform: translateX(420px);"
        matTooltip="Go to art gallery home page" [matTooltipPosition]="'right'" routerLink='/art'
        routerLinkActive="active"><span class="headertitle page">Art
          Gallery</span></a>
      <a *ngIf="this.currentUrl=='/entertainment'" mat-button style="transform: translateX(420px);"
        matTooltip="Go to movies home page" [matTooltipPosition]="'right'" routerLink='/entertainment'
        routerLinkActive="active"><span class="headertitle page">Movies & Shows</span></a>
      <a *ngIf="this.currentUrl=='/anime'" mat-button style="transform: translateX(420px);"
        matTooltip="Go to anime home page" [matTooltipPosition]="'right'" routerLink='/anime'
        routerLinkActive="active"><span class="headertitle page">Anime Zone</span></a>
      <a *ngIf="this.currentUrl=='/gaming'" mat-button style="transform: translateX(420px);"
        matTooltip="Go to gaming home page" [matTooltipPosition]="'right'" routerLink='/gaming'
        routerLinkActive="active"><span class="headertitle page">Gaming
          Zone</span></a>
      <a *ngIf="this.currentUrl=='/profile'" mat-button style="transform: translateX(420px);"
        matTooltip="Go to profile home page" [matTooltipPosition]="'right'" routerLink='/profile'
        routerLinkActive="active"><span class="headertitle page">Profile</span></a>

    </div>

  </div>

  <span class="home-spacer"></span>
  <div class="rippleHover" fxShow="true" fxHide.lt-md="true">
    <a mat-button matTooltip="Go to app home page" [matTooltipPosition]="'above'" routerLink="/"
      routerLinkActive="active">
      <mat-icon>home</mat-icon>
    </a>
    <a mat-button matTooltip="Go to app home page" [matTooltipPosition]="'above'" routerLink="/art"
      routerLinkActive="active">
      <mat-icon>brush</mat-icon>
    </a>
    <a mat-button matTooltip="Go to app home page" [matTooltipPosition]="'above'" routerLink="/entertainment"
      routerLinkActive="active">
      <mat-icon>live_tv</mat-icon>
    </a>
    <a mat-button matTooltip="Go to app home page" [matTooltipPosition]="'above'" routerLink="/anime"
      routerLinkActive="active">
      <mat-icon>face</mat-icon>
    </a>
    <a mat-button matTooltip="Go to app home page" [matTooltipPosition]="'above'" routerLink="/gaming"
      routerLinkActive="active">
      <mat-icon>games</mat-icon>
    </a>
    <a mat-button matTooltip="Admin's profile" [matTooltipPosition]="'above'" routerLink="/profile"
      routerLinkActive="active">
      <mat-icon>account_box</mat-icon>
    </a>
  </div>
  <div fxShow="false" fxHide.lt-md="false">
    <div *ngIf="this.currentUrl=='/'">
      <a mat-button style="transform: translateX(-91px);" matTooltip="App home page" [matTooltipPosition]="'right'"
        routerLink='/' routerLinkActive="active"><span class="mobile_header" style="color: rgb(255, 255, 255);">AP Archive</span></a>
    </div>
  </div>
  <div fxShow="false" fxHide.lt-md="false">
    <div *ngIf="this.currentUrl!='/'">

      <a *ngIf="this.currentUrl=='/art'" mat-button style="transform: translateX(-91px);"
        matTooltip="Go to art gallery home page" [matTooltipPosition]="'right'" routerLink='/art'
        routerLinkActive="active"><span class="mobile_header">Art
          Gallery</span></a>
      <a *ngIf="this.currentUrl=='/entertainment'" mat-button style="transform: translateX(-91px);"
        matTooltip="Go to movies home page" [matTooltipPosition]="'right'" routerLink='/entertainment'
        routerLinkActive="active"><span class="mobile_header">Movies & Shows</span></a>
      <a *ngIf="this.currentUrl=='/anime'" mat-button style="transform: translateX(-91px);"
        matTooltip="Go to anime home page" [matTooltipPosition]="'right'" routerLink='/anime'
        routerLinkActive="active"><span class="mobile_header">Anime Zone</span></a>
      <a *ngIf="this.currentUrl=='/gaming'" mat-button style="transform: translateX(-91px);"
        matTooltip="Go to gaming home page" [matTooltipPosition]="'right'" routerLink='/gaming'
        routerLinkActive="active"><span class="mobile_header">Gaming
          Zone</span></a>
      <a *ngIf="this.currentUrl=='/profile'" mat-button style="transform: translateX(-91px);"
        matTooltip="Go to profile home page" [matTooltipPosition]="'right'" routerLink='/profile'
        routerLinkActive="active"><span class="mobile_header">Profile</span></a>

    </div>
    <span class="home-spacer"></span>
  </div>

  <div fxShow="false" fxHide.lt-md="false">
    <a mat-button matTooltip="Go to app home page" [matTooltipPosition]="'above'" routerLink="/"
      routerLinkActive="active">
      <mat-icon>home</mat-icon>
    </a>

  </div>


</mat-toolbar>