.home-spacer {
    flex: 1 1 auto;
  }
.mat-toolbar {
    position: relative;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.979);
    height: 82px;
  }
.mat-icon{
    color: rgb(255, 255, 255);
}
.headertitle{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: fantasy;
}

.mat-button{
    min-width: 52px;
    line-height: 67px;
    padding: 0px 23px;
    margin-left: -20px;
}
.homeicon{
    margin-left: -8px;
}

.art{
color: rgb(216, 53, 12);
}
.game{
    color: rgb(15, 12, 216);
}
.movie{
    color: rgb(12, 216, 63);
}
.anime{
    color: rgb(216, 12, 124);
}