<div class="container">
<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav class="sw-sidenav">
    <mat-list>
      <mat-list-item routerLink="/art"> Art Gallery</mat-list-item>
      <mat-list-item routerLink="/entertainment"> Entertainment</mat-list-item>
      <mat-list-item routerLink="/gaming"> Gaming Zone</mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-toolbar #toolbar>
    <button mat-button (click)="sidenav.open()" title="Open sidenav">
      <mat-icon>menu</mat-icon>
    </button>
    <a mat-button routerLink="/home" routerLinkActive="active"><span class="headertitle">AP Archives</span></a>
    <span class="home-spacer"></span>
    <a mat-button routerLink="/home" routerLinkActive="active">
      <mat-icon>home</mat-icon>
    </a>
    <button mat-button>
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
  <div class="content" #main>
    <router-outlet></router-outlet>
  </div>

  <div class="footer" #footer>
    <mat-icon style="color: rgb(255, 252, 249);
    height: 21px;
    font-size: 20px;
">copyright</mat-icon><span class="footertitle">Anamay Pandey &nbsp;&nbsp; |&nbsp;&nbsp; 2020</span>
  </div>


</mat-sidenav-container>
</div>