/* .movie-card {
    max-width: 400px;
  }
  
.movie-header-image {
    background-size: cover;
}
.mat-card {
    background: #fff;
    color: rgba(0,0,0,.87);
    background: cornsilk;
    float: right;
}
mat-grid-tile {
    background: lightblue;
  } */

  .mat-card{
    width: 30%;
    height: 30%;
    display: block;
    margin-left:auto;
    margin-right:auto;  
    vertical-align:middle;
    text-align: center;
    margin-top: 75px;
}