<!-- <div>
    <button mat-button (click)="openDialog()">looking for mnovies??</button>
    <button (click)="flag()">Get Movie Details</button>
    <div *ngIf="toggle=='true'">
    <mat-grid-list cols="2" rowHeight="2:1" [gutterSize]="'30px'">
    <div *ngFor="let movie of movies">
        <mat-grid-tile>
            <mat-card class="movie-card">
                <mat-card-header>
                  <div mat-card-avatar class="movie-header-image"></div>
                  <mat-card-title>{{movie.name}}</mat-card-title>
                     </mat-card-header>
                <mat-card-content>
                 
                </mat-card-content>
                <mat-card-actions>
                  
                </mat-card-actions>
              </mat-card>
            </mat-grid-tile>
        </div>
      </mat-grid-list>
    </div>
        
</div> -->
<mat-card  class="mat-elevation-z4">
    
  <mat-card-content style="margin-top: 46px;">
      <h2>
          Coming soon!!
      </h2>
    </mat-card-content>
 
  </mat-card>
