
.custom-card{
  background-color: black;
  padding: 16px -1px;
 cursor: pointer;
 user-select: none;
 
}
.rippleHover1:hover .mat-card-image{
  transform: scale(1.2);
 
 
}
.mat-card-image{
  margin-bottom: -21px;
  transition: .8s ease;
}
