<mat-accordion class="example-headers-align">
  
  <mat-expansion-panel [expanded]="step ===0" (opened)="setStep(0)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Consumer Benefits
      </mat-panel-title>
      <mat-panel-description>


      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card class="example-card mat-elevation-z4">
      <mat-card-header>


      </mat-card-header>

      <mat-card-content>
        <mat-card class="custom-card mat-elevation-z4">
          <mat-card-title>Easy to make</mat-card-title>

        </mat-card>

      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card mat-elevation-z4">
      <mat-card-header>


      </mat-card-header>

      <mat-card-content>
        <mat-card class="custom-card mat-elevation-z4">
          <mat-card-title>Highly nutritious</mat-card-title>

        </mat-card>

      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card mat-elevation-z4">
      <mat-card-header>


      </mat-card-header>

      <mat-card-content>
        <mat-card class="custom-card mat-elevation-z4">
          <mat-card-title>Goes well with milk, water and any vegetables.</mat-card-title>

        </mat-card>

      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card mat-elevation-z4">
      <mat-card-header>


      </mat-card-header>

      <mat-card-content>
        <mat-card class="custom-card mat-elevation-z4">
          <mat-card-title>Strengthen bones</mat-card-title>

        </mat-card>

      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card mat-elevation-z4">
      <mat-card-header>


      </mat-card-header>

      <mat-card-content>
        <mat-card class="custom-card mat-elevation-z4">
          <mat-card-title>Helps in baby’s digestion</mat-card-title>

        </mat-card>

      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card mat-elevation-z4">
      <mat-card-header>


      </mat-card-header>

      <mat-card-content>
        <mat-card class="custom-card mat-elevation-z4">
          <mat-card-title>Improves baby’s immunity</mat-card-title>

        </mat-card>

      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card mat-elevation-z4">
      <mat-card-header>


      </mat-card-header>

      <mat-card-content>
        <mat-card class="custom-card mat-elevation-z4">
          <mat-card-title>Provide solid amount of proteins to bay for muscle growth</mat-card-title>

        </mat-card>

      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>




    <mat-action-row>
      <!-- <button mat-button class="custombutton" (click)="prevStep()"></button> -->
      <button mat-button class="custombutton" (click)="nextStep()">Collapse</button>
    </mat-action-row>
  </mat-expansion-panel>





</mat-accordion>