/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; 
    overflow-x:hidden;
    overflow-y:hidden;
    }
body { margin: 0px; 
    padding: 0px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: url('assets/background/bg.jpg') no-repeat;
    /* width: device-width; */
    height: 100%;
    background-size: cover;
    overflow-x:hidden;
    overflow-y:hidden;

}